<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>杜蕾斯的英语教室</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">杜蕾斯少儿英语</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/member/login">前台登录</a></li>
                <li><a href="/member/reg">前台注册</a></li>
                <li><a href="/console/login">后台登录</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <div class="page-header">
        <h1>杜蕾斯少儿英语学习平台</h1>
        <p class="lead">杜蕾斯少儿英语学习平台是<strong>优秀</strong>的英语学习平台。是针对3-12岁儿童的英语教育，包括了少儿英语教育，少儿英语考试。</p>
    </div>
    <h3>基本信息</h3>
    <p>随着国内教育对英语逐渐重视，学生们学习英语时的年龄逐渐变小，从以前初中开始学习英语到如今小学幼儿园就已经开始学英语。
    但是由于孩子们由于年龄比较小心智相对来说还不成熟注意力不集中，好玩易动，这不是缺点更不是错误，而是孩子完全正常的生理特点。
    如果强迫灌输给孩子另一种语言，就会影响孩子的身心健康，学习效果达不到还会得到负面的影响。</p>
    <p>杜蕾斯少儿英语专为我国3~12岁的年龄段的少年儿童学习英语而设计了丰富的课程体系。本课程体系不仅完全符合剑桥少儿英语大纲的要求，
    而且参照了《英语教学大纲》（教育部制定的九年义务教育全日制初级中学教学大纲，人民教育出版社出版）及国内外比较有代表性的儿童英语教学标准，
    在内容和形式上反映了少儿的认知能力和心理特征，突出了"活泼、有趣、轻松、连续"的特色。</p>
    <h3>教育原则</h3>
    <p>
        1、语言环境。少儿在习得母语时，语言环境中对少儿语言所起作用最大的是人们对少儿说的话，特别是“母亲语言”。少儿对听到的语言进行积极的筛选，
        只听到那些他们听得懂的话。因而，教师在教授少儿英语时，应尽量让孩子明白，听懂讲课内容。所讲内容要适应少儿的语言领悟能力<br/>
        2、语言学习顺序。少儿习得语言是遵循一定的顺序和规律的。例如，少儿对语义意念的语言标记的习得要经历从无标记到在有限的情况下使用合适的标记，再到对标记的过渡概括。
        少儿对习得这些规律进行吸收、内化并创造性地使用语言。因此，教师在选择教材、制定教学计划时，应按照少儿习得语言的顺序规律合理安排教学内容。<br/>
        3、师生关系。成人特别是父母亲和正在学话的少儿说话时，往往伴以十分关怀的感情和耐心，使少儿感到温暖，把学话当成一种乐趣，而不是负担。
        在少儿学习英语中，教师要对少儿给予一种母亲似的关爱，培养少儿学习英语的兴趣，增强他们的学习动力，使少儿成功地掌握英语。<br/>
    </p>

    <h3>能力培养</h3>
    <p>
        1、国际化语言能力<br/>

        掌握国际化的语言，不是让孩子认识几个单词，掌握了几百几千的单词，会进行简单的英语会话，而是具备真正的英语沟通能力，让英语成为孩子未来职业晋升中的助推器，
        从而让孩子学到的英语能够应对未来工作的需要，增加职场竞争的实力。针对这一需求专家提出了学科英语的教学方式，所谓学科英语就是用英语来学习语文、数学、科学等科目，
        而不仅仅学习简单的日常口语对话，通过学科英语的学习，可以帮助孩子将英语知识转化为英语能力，达到将来真正能够用英文进行工作。<br/><br/>

        2、英语思维能力<br/>

       中国人学习英语习惯采用“英译汉”的方式，即用汉语来思考英语，从而导致英语口语不纯正，不能灵活运用英语，中国人学英语只是单纯的学英语，没有形成英语的思维能力。
       只有具备了英语的思维能力才是真正的具备国际竞争力的人才。“浸泡式环境”让学生达到“用英语学英语”，实现英语思维的建立。<br/><br/>

        3、国际领导力<br/>

   “国际领导力”为欧美现代教育学理论中的一个概念，主要是指少儿阶段锻炼和积累的演讲演示、团队协作、项目管理意识和能力。在课堂上，每个孩子都要参与课堂表达，这样的语言能力训练，
   对孩子未来的成长，是十分宝贵的。经过“浸入式学科英语”和“未来领导力”教育的儿童，基本都能够流利自信地用英文，加以丰富的肢体语言，针对不同的命题进行公众演讲。<br/><br/>
    </p>

    <h3>适合年龄</h3>
    <p>
        专家研究表明，3—12岁是一个人学习英语的良好时期，利用好这段时间学习双语是很重要的。脑科学的研究成果也表明，人在12岁之前，语音中枢与母语同在右脑；再大一些之后，语音中枢就转到左脑，
        和右脑的母语分开了。根据语言学相关理论，孩子学习外语的最好阶段，应该是在12岁以前。这就是说，如果一个孩子在12岁之后才开始学习英语，无论再怎么努力，
        在发音的准确性、语言运用的灵活性方面也比不上英语母语者。<br/>

    </p>


    <h3>优秀教师</h3>
    <p>Doris </p>

    <h3>教学方法</h3>
    <p>
        一、针对少儿年龄特点、兴趣爱好选择教学内容<br/>
   少儿3--6岁的这一年龄阶段，为学前期，学前期是少儿语言发展和身心等其他方面发展的关键时期。少儿英语教学的内容可选择少儿感兴趣的主题，由近及远，由易到难，循序渐进地进行。
   其内容可包括：动物、玩具、颜色、数字、食物等等，可先在3—4岁年龄段教简单的单词，到4—6岁的年龄段再进行简单的口语教学，如先学习Pear(梨子)、Cat(小猫)、Banana(香蕉)等单词读音后，
   再由易至难，提升至短语及口语对话：Give me a pear，please!(请给我一个梨子)、It is a dog(它是一只小狗)，让少儿在这一年龄段中得到适宜的阶段性学习。<br/><br/>
	 二、让英语教学充满趣味性<br/>
	 游戏是少儿生活中不可缺少的一部分。对少儿年龄特点及爱玩的天性，教师可有针对性地、灵活地将—些新颖、有趣的游戏与教学内容结合起来。“兴趣是最好的老师”，
	 教师可以充分利用英语游戏、歌曲、童谣、绘画等多种形式动静结合，激发少儿想学英语、喜欢英语的兴趣。如：学习颜色单词。让参加游戏的学生头戴一种颜色的头饰。
	 两位学生碰面用“Yellow yellow/Blue blue……，you are mine…”猜拳，错误者必须做正确者的“小尾巴”。游戏继续进行，最后成为长龙的“头头”者为游戏的胜利者。
	 这样，将趣味性融人教学中，让少儿高兴地投入到游戏中的同时，既学到了口语的交流对话，又培养了少儿开朗的性格和主动团结他人的品格。<br/><br/>
        三、打破传统的母语原则<br/>
    在英语教学中，用母语教外语是当前比较常用的教学方法，但这种方法使少儿在用英语时，往往先要在脑子里进行一道翻译程序，这样，少儿听说英语就跟不上正常的语速，影响其英语水平的提高，
    如“西瓜”用英语怎么说?少儿在理解英语时都先介入汉语，所以，教师应尽量使用英语来教学，借助手势、表情、动作、情景帮助幼儿理解，并坚持同样的手段，使少儿习惯这些手势加英语的意思。<br/><br/>
        四、及时纠正少儿的语言错误，并进行表扬鼓励<br/>
   少儿在学习语言的过程中，由于少儿的发音器官发育不够完善，听觉的分辨能力和发音器官的调节能力都比较弱，还常常不能掌握某些音的发音方法，因而产生语言错误是很自然现象，有时口形不对，有时发音不准。
   在教学过程中，当少儿出现错误时，教师不要重复幼儿的错误，不要给予强化，以免引起少儿错误的模仿，也不能直接打断幼儿思路，苛求纠正语言错误，应该细心观察，找出导致语言错误的原因，
   用委婉、间接的方式启发幼儿自己来区别发音的正确与错误，及时纠正口误，鼓励少儿大胆发音，而平时教师也应多表扬，多鼓励幼儿，让少儿体验成功带来的愉悦，从而，增强他们的自信心和学习英语的积极性。<br/><br/>
       五、注重趣味性，将复习贯穿于一日教学活动中<br/>
   不管什么人学英语，学过之后不复习就会忘记，这就要求教师在日常教学生活中，在学过之后，及时让他们复习。通过复习，既提高少儿听觉的感受能力，使之辨别出语音的细小变化，区别正确和错误的发音，
   又训练少儿发音器官的协调性，经过复习让少儿掌握单词的发音，同时可将随机提问、师生问答、角色表演、游戏等多种有趣味的形式，贯穿于复习中，以减少复习的机械与乏味。<br/><br/>
       六、日常生活中的语言培养<br/>
   少儿在学习的过程中获得的多数知识和技能与他们的日常生活密切相关。因此，教师应不失时机地利用日常生活中的各个环节，让少儿说出使他感兴趣的事物的单词 (教师可适当个别指导)，
   如：吃饭时说出碗、菜的单词，以及各种周围事物的名称，将随机教育渗透到教学中。但是少儿的认读能力与口语水平各不相同，有的能大胆发音读词，有的则不敢张口发音，这就要求教师对于能力较弱的少儿，
   多一些关心和亲近，有意地请他们发言，创设情境，鼓励他们大胆发音，而对于能力较强的少儿，可以向他们提出更高的要求，如请他们领读儿歌，领唱童谣，让他们表演英语情景剧等。<br/><br/>
        总之，英语教学必须遵循少儿语言学习的规律，注重少儿为主体，教师为主导的原则，并开展具有针对性、趣味性的英语教学活动，让少儿真正积极地参与到活泼、生动的英语学习中来，体会到学习的快乐!<br/>
    </p>

    <h3>英语教材</h3>
	*牛津系列<br/>
	*洪恩系列<br/>
	*朗文系列<br/>
	*英华兰系列<br/>
    <h3>版权声明</h3>
    <p>
        本网站所有权归Doris老师所有<br/><br/>

    </p>

</div>
<div class="hide">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?979d31372603c8a206df04b67e1039b5";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</div>
<script type="text/javascript" src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/jquery-migrate/1.4.1/jquery-migrate.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>